html {
  height: 100vw;
  width: 100vw;
}

body {
  height: 100vw;
  width: 100vw;
  font-size: 1.8rem;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1;
  font-weight: 300;
  font-family: "Abel";
  color: #222;
  background: radial-gradient(white 75%, #DEDDDD) fixed;
  height: auto;
}

div {
  margin: auto;
}

.weather-app {
  position: relative;
}

.left {
  position: absolute;
  margin-top: -14rem;
  text-align: center;
}

.weather {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.right {
  position: relative;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
}

#wind {
  margin-left: 1rem;
}

#drop {
  height: 1.5rem;
}

#icon_w {
  width: 10rem;
}

.temperature {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.temperature::after {
  content: "\00b0";
}

.temperature::before {
  content: "i";
  font-size: 2;
  visibility: hidden;
}

/* Main box  */

#main-box {
  text-align: center;
  margin-top: 8vw;
  border-color: black;
  border-left: 0.4rem double black;
  border-right: 0.4rem double black;
  width: 50vw;
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
}

/* Linköping skyline image */

#image-box {
  margin: auto;
  margin-top: 8rem;
  width: 40rem;
  animation-delay: 5s;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  -webkit-animation: 1s ease-out 0s 1 slideInFromLeft;
}

#progbar {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  -webkit-animation: 1s ease-out 0s 1 slideInFromLeft;
}

#background-mountains {
  position: absolute;
  margin-top: 25rem;
  width: 500rem;
}

.background-image {
  width: 100%;
}

.jesper-name {
  font-size: 4rem;
}

.link-image {
  width: 4rem;
  position: relative;
  top: 1rem;
  margin: 0 1rem 1rem 1rem;
  transition: 0.5s ease-in-out;
  border-radius: 50%;
}

.link-image:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  background-color: #62dcf7;
}

/* Timeline */

}

.progressbar {
  position: relative;
  left: 50%;
  top: 400px;
  transform: translate(-50%);
  counter-reset: step;
}

.progressbar li {
  list-style-type: none;
  float: left;
  width: 16.3%;
  position: relative;
  text-align: center;
  margin-top: 15rem;
}

.progressbar li::before {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 3px solid black;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: black;
  content: '';
}

.progressbar li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child::after {
  content: none;
}

.progressbar li.active {
  mix-blend-mode: darken;
}

.progressbar li.active::before {
  border-color: black;
  color: white;
}

.progressbar li.active:hover::before, .progressbar li.active:active::before {
  border-color: black;
  width: 200px;
  height: 130px;
  line-height: 30px;
  border: 3px solid black;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: -123px auto 10px auto;
  mix-blend-mode: lighten;
  padding: 8px;
  transition: 0.5s ease-in-out;
}

#born:hover::before {
  content: "Born in the same place as the beloved Krister Sjögren had a summer cabin at one time";
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
  /* Safari and Chrome */
}

#pro:hover::before {
  content: "Played professional football for Carlstad United";
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
  /* Safari and Chrome */
}

#web:hover::before {
  content: "Started studying Biomedical engineering at Linköping University";
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
  /* Safari and Chrome */
}

#hong:hover::before {
  content: "Studied in Hong Kong one semester";
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
  /* Safari and Chrome */
}

#canada:hover::before {
  content: "Skiing in Canada for three months";
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
  /* Safari and Chrome */
}

#now:hover::before {
  content: "Made a sick webpage";
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
  /* Safari and Chrome */
}

#streck {
  text-align: center;
  margin-top: 35rem;
}

form {
  font-size: 3rem;
  padding: 5rem;
  text-align: center;
  align-items: center;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 1rem;
  }
  .jesper-name {
    font-size: 2rem;
  }
  #main-box {
    margin-top: 15vw;
    width: 100vw;
  }
  #image-box {
    width: 60vw;
    margin-top: 5rem;
  }
  .weather-app {
    position: relative;
  }
  .left {
    position: absolute;
    margin-top: -8rem;
    text-align: center;
  }
  .weather {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }
  .right {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
  }
  #wind {
    margin-left: 1rem;
  }
  #drop {
    height: 1rem;
  }
  #icon_w {
    width: 5rem;
  }
  .temperature {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .temperature::after {
    content: "\00b0";
  }
  .temperature::before {
    content: "i";
    font-size: 1rem;
    visibility: hidden;
  }
  .link-image {
    width: 10vw;
    margin: 0 0.5rem 0.5rem 0.5rem;
  }
  .progressbar {
    visibility: hidden;
  }
